body{
    background-image: url("images/weather.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: relative;
    text-underline-position: 
    color: black;
    padding: 1em;
}

#weather{
    background-color: #324d39;
    text-align: center;
    border: none;
    border-radius: 10px;
    display: grid;
    align-content: center;
    height: 50% fixed;
    width: 50%;
    margin: auto;
    color: white;
    font-size: 30px;
    padding: 10px;
    font-family: "comic sans";
}
.instruct{
    text-align: center;
    font-family: "comic sans";
    padding: 10px;
}
h1{
    text-align: center;
    font-family: verdana;
}
#copy{
    font-size: small;
}
#time{
    color: black; !important
    font: bolder; !important
}
input[type=text]{
    border: none;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    background-color: #324d39;
    color: white;
    font-size: 16px;
    align-items: left;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    font-family: "comic sans";
    font-weight: bold;
}
#search{
    display: flex; !important
}
input[type=submit]{
    width: 100%;
    margin-top: 2px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #1c1e26;
    cursor: pointer;
    color: white;
    text-align: center;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
