body{
    background-image: url("images/weather.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: relative;
    color: black;
    padding: 1em;
    height: : 100%;
    margin: 0px;
    background-position: center;
}

#weather{
    background-color: none;
    text-align: center;
    border: none;
    border-radius: 10px;
    display: grid;
    align-content: center;
    height: 100%;
    width: auto;
    margin: auto;
    color: black;
    font-size: 30px;
    padding: 10px;
    font-family: "comic sans";
}

h1{
    text-align: center;
    font-family: verdana;
}
#copy{
    font-size: small;
}
#time{
    color: black; !important
    font: bolder; !important
}
input[type=search]{
    border: none;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid grey;
    background-color: inherit;
    color: green;
    text-align: center;
    outline: none;
    font-size: 20px;
    align-items: center;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    font-family: "comic sans";
    font-weight: bold;
}

input[type=submit]{
    width: 100%;
    outline: inherit;
    color: inherit;
    background: none;
    margin-top: 2px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    color: green;
    text-align: center;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
